.main_home {
  margin-top: 8.5rem;
}

.main {
  margin-top: 8.8rem;
}

.icon {
  //   line-height: 100%;
  @include center;
  svg {
    height: 100%;
    stroke: inherit;
  }
}

.dimmed-bg {
  background-color: rgba(35, 52, 98, 0.1);
}

.social {
  margin-top: 1.5rem;
  // background-color: red;
  height: fit-content;
  display: flex;
  gap: 0.55rem;

  a {
    display: inline-block;
    // background-color: yellow;
    height: 1.5rem;
    width: 1.5rem;
    @include center;

    i {
      transition: all 0.3s;
      // background-color: red;
      font-size: 1rem;

      // height: 100%;
    }

    &:hover {
      i {
        color: var(--color-yellow);
      }
    }
  }
}

.with-yellow-dot {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--color-yellow);
    border-radius: 50%;
    @include absCenterY;
    left: 0;
  }
}

.section__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 60%;

  &.contacts-page {
    max-height: 80vh;
  }
}

.cards-show__more-btn {
  height: 2.5rem;
  width: 9rem;
  font-size: 0.8rem;
  color: var(--color-white);
  margin: 0 auto;
}

.show-more__wrapper {
  text-align: center;
  margin-top: 2.5rem;
  display: none;
}

.search__bar {
  height: 2rem;
  @include spaced;
  gap: 2px;

  input {
    height: 100%;
    border: 0.05rem solid #ccc;
    outline: none;
    width: 18.7rem;

    font-size: 0.7rem;
    font-weight: 300;
    line-height: 100%;
    background-color: #fafafa;
    padding: 0.55rem;

    &::placeholder {
      color: #9b9b9b;
    }
  }

  button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
    img {
      width: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .main_home {
    margin-top: 4.8rem;
  }
  .main {
    margin-top: 4.8rem;
  }

  .section__bg {
    max-width: 100%;
  }

  .show-more__wrapper {
    display: block;
  }
}
