.installments {
  .modal__wrapper {
    font-family: "Euclid Square";
    background-color: var(--color-white);
    padding: 2.85rem 3.75rem;
    @include center;
    flex-direction: column;
    p {
      color: var(--color-primary);
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 100%;

      span {
        font-weight: 600;
      }
    }

    &-top {
      @include center;
      flex-direction: column;
      color: var(--color-primary);
      width: 80%;
      text-align: center;
      gap: 0.7rem;
      h3 {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 100%;
      }
    }
  }
  .btn_yellow {
    margin-top: 2rem;
    height: 3rem;
    width: 12.75rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__cards {
    margin: 2rem 0;
    @include center;
    gap: 1.5rem;
  }

  &__card {
    background-color: var(--color-white);
    box-shadow: 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.04),
      0px 20px 13px 0px rgba(0, 0, 0, 0.04),
      0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.02);
    width: 10.25rem;
    height: 6.6rem;
    color: #233462;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 100%;
    @include center;
    gap: 0.25rem;
    font-family: "Euclid Square";
    // align-items: flex-end;
    padding: 0.9rem 2rem;
    position: relative;

    .big {
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 100%;
    }

    .small {
      margin-top: 1.8rem;
    }

    .corner {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
    }

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
    &.active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}

@media (max-width: 768px) {
  .installments {
    .modal__wrapper {
      font-family: "Euclid Square";
      background-color: var(--color-white);
      padding: 1.5rem 1rem;
      @include center;
      flex-direction: column;
      p {
        color: var(--color-primary);
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 100%;

        span {
          font-weight: 600;
        }
      }

      & > p {
        width: 100%;
        text-align: left;
      }

      &-top {
        @include center;
        flex-direction: column;
        color: var(--color-primary);
        width: 100%;
        text-align: center;
        gap: 0.7rem;
        h3 {
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 100%;
        }
      }
    }
    .btn_yellow {
      margin-top: 1rem;
      height: 3rem;
      width: 100%;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 500;
    }

    &__cards {
      margin: 1rem 0;
      @include center;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }

    &__card {
      background-color: var(--color-white);
      box-shadow: 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.04),
        0px 20px 13px 0px rgba(0, 0, 0, 0.04),
        0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.02);
      width: 100%;
      height: 6.6rem;
      color: #233462;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 100%;
      justify-content: flex-start;
      gap: 0.25rem;
      font-family: "Euclid Square";
      // align-items: flex-end;
      padding: 0.9rem 2rem;
      position: relative;

      .big {
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 100%;
      }

      .small {
        margin-top: 1.8rem;
      }

      .corner {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
      }

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
      &.active {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }
  }
}
