.map {
  margin: 3.7rem 0 4rem 0;
  padding-top: 2rem;
  overflow: hidden;

  &__wrapper {
    margin-top: 2.4rem;
    position: relative;
    height: 48.4rem;
  }

  &__main {
    position: absolute;
    width: 100vw;
    height: 48.4rem;
    @include absCenter;

    &__svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include absCenter;

      &:nth-child(1) {
        z-index: 2;
      }
      &:nth-child(2) {
        z-index: 1;
      }
      &:nth-child(3) {
        z-index: 3;
        pointer-events: none;
      }

      .stroke-hide {
        transition: all 1s;
        fill: none;
        stroke: #8291c4;
        stroke-width: 1;
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        &.active {
          stroke-dasharray: 0;
          stroke-dashoffset: 0;
        }
      }

      .clickable {
        stroke: #fff;
        transition: all 0.3s;

        &.active {
          fill: #001a71;
        }

        &:hover {
          fill: #001a71;
        }
      }
    }
  }

  &__card {
    position: absolute;
    top: 5.75rem;
    width: 26.55rem;
    height: 31.65rem;
    background: rgba(238, 238, 238, 0.2);

    box-shadow: 7px 13px 14px 0px rgba(0, 0, 0, 0.25),
      31px 33px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5.5px);
    z-index: 5;
    display: grid;
    grid-template-rows: auto 1fr;

    &__img {
      width: 100%;
      height: 14.75rem;
      object-fit: cover;
    }

    &__info {
      padding: 0.7rem 1rem 1.5rem;
      @include spaced;
      flex-direction: column;

      &__head {
        font-size: 1.85rem;
        font-weight: 700;
        line-height: 149.8%; /* 55.426px */
      }

      .statistics {
        // background-color: red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        &__item {
          //   background-color: yellow;
          width: fit-content;
          @include spaced;
          flex-direction: column;
          gap: 0.55rem;

          p {
            text-align: center;
            color: #2f2f2f;
            font-family: Montserrat;
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 1rem; /* 125% */
          }
        }
      }

      h4 {
        font-size: 2.35rem;
        font-weight: 600;
        line-height: normal;
      }

      button {
        height: 3.25rem;
        width: 12.75rem;
        font-family: "Euclid Square";
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.2rem; /* 150% */
      }
    }
  }
}

@media (max-width: 768px) {
  .map {
    margin: 2.7rem 0 1rem 0;

    &__wrapper {
      height: fit-content;
      padding-bottom: 3rem;
    }

    &__main {
      width: 100%;
      transform: translate(0);
      top: 0;
      left: 0;
      position: relative;
      height: 30rem;

      &__svg {
        width: 100vw;
      }
    }

    &__card {
      position: static;
      top: 100%;
      width: 100%;
      max-width: 25rem;
      height: 25rem;
      margin: 0 auto;

      &__img {
        height: 10rem;
      }

      &__info {
        padding: 0.7rem 0.5rem 1rem;

        &__head {
          font-size: 1.8rem;
        }

        .statistics {
          &__item {
            p {
              font-size: 0.6rem;
            }
          }
        }

        h4 {
          font-size: 1.9rem;
        }
      }
    }
  }
}
