.work-card {
  position: relative;
  height: 18rem;
  overflow: hidden;
  &__bg {
    transition: all 0.3s;
    @include fullImg;
    @include absCenter;
    z-index: -1;
  }

  &__gradient {
    position: absolute;
    @include absCenterX;
    width: 100%;
    z-index: -1;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, 100%);
    transition: all 0.3s;
    height: 5.6rem;

    background: linear-gradient(0deg, #011a71 0%, rgba(196, 196, 196, 0) 100%);
  }

  &__info {
    color: var(--color-white);
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    @include spaced;
    flex-direction: column;
    align-items: flex-start;

    span {
      padding-left: 0.75rem;
      font-size: 0.7rem;
      font-weight: 300;
      line-height: 100%;
    }

    &_bottom {
      @include spaced;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;

      p {
        font-size: 0.75rem;
      }

      a {
        font-size: 0.7rem;
        font-style: normal;
        text-decoration-line: underline;
      }
    }
  }

  &:hover {
    .work-card__bg {
      transform: translate(-50%, -50%) scale(1.05);
    }
    .work-card__gradient {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
