.about {
  &_head-box {
    // background-color: red;
    // width: 100%;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1.25rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);

    &__item {
      //   background-color: yellow;
    }

    h3 {
      font-size: 1rem;
      font-weight: 600;
      line-height: 125%; /* 25px */
      letter-spacing: 0.003rem;
    }

    p {
      font-size: 0.7rem;
      margin-top: 0.4rem;
      font-weight: 300;
      line-height: 125%; /* 17.5px */
    }
  }
}

.about-main {
  padding-top: 2rem;
  position: relative;

  .section__bg {
    max-width: 50%;
    z-index: -1;
  }

  &__wrapper {
  }

  &_top {
    text-align: center;
    @include spaced;
    flex-direction: column;
    gap: 1.15rem;

    h2 {
      color: #0b0e2e;
      font-size: 2.8rem;
      font-weight: 400;
    }

    p {
      width: 100%;
      max-width: 60%;
      color: #585960;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }

  &_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2.25rem;

    img {
      height: 18.5rem;
      width: 100%;
    }
  }
}

.employees {
  margin: 4.5rem 0 2rem 0;

  &__wrapper {
    margin-top: 3.1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.15rem;
  }
}

.employee-card {
  position: relative;
  overflow: hidden;
  height: 15.35rem;

  &__img {
    @include fullImg;
    @include absCenter;
    z-index: -1;
    transition: all 0.3s;
  }
  &__info {
    padding: 1rem 1.25rem;
    height: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.15rem;
    h3 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 140%; /* 16.8px */
    }

    p {
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 140%; /* 16.8px */
    }
  }

  &:hover &__img {
    transform: translate(-50%, -50%) scale(1.02);
  }
}
