.single-work {
  &_head-box {
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    backdrop-filter: blur(5px);
    padding: 1.8rem 2.4rem;
    color: var(--color-white);
    @include spaced;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.85rem;

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      font-size: 0.8rem;
      font-weight: 500;

      span {
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

.work-info {
  padding-top: 4.25rem;
  position: relative;

  &__wrapper {
  }

  &__part {
    height: 25rem;
    margin-bottom: 3.6rem;
    display: grid;
    gap: 2.75rem;

    .part__carousel {
      position: relative;
      .carousel__controls {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        button {
          background-color: var(--color-white);
          &:hover {
            background-color: var(--color-yellow);
          }
        }
      }
    }

    .part__info {
      font-weight: 400;
      line-height: normal;
      @include center;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;

      h3 {
        font-size: 1.5rem;
        color: #0b0e2e;
        font-weight: 400;
      }

      p {
        color: #585960;
        font-size: 0.8rem;
        line-height: 131%; /* 20.96px */
        font-weight: 400;
      }
    }

    .part__video {
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &.part_1 {
      grid-template-columns: 47.75rem 1fr;
    }

    &.part_2 {
      grid-template-columns: 1fr 47.75rem;
    }
  }
}

.another-works {
  padding: 1rem 0;

  &__wrapper {
    margin-top: 3rem;
    position: relative;
    height: fit-content;

    .carousel__controls {
      position: absolute;
      z-index: 1;
      height: fit-content;
      top: -4rem;
    }
  }
}

@media (max-width: 768px) {
  .single-work {
    &_head-box {
      width: 100%;
    }
  }

  .work-info {
    &__part {
      height: fit-content;
      margin-bottom: 2rem;
      gap: 1.5rem;

      .part__carousel {
        height: 25rem;
      }

      .part__info {
        gap: 1.1rem;

        h3 {
          font-size: 1.75rem;
        }

        p {
          font-size: 0.95rem;
        }
      }

      .part__video {
        height: 25rem;
        grid-row: 1 / span 1;
      }

      &.part_1 {
        grid-template-columns: 100%;
      }

      &.part_2 {
        grid-template-columns: 100%;
      }
    }
  }

  .another-works {
    padding: 2rem 0 5rem 0;
    overflow: hidden;

    &__wrapper {
      margin-top: 5rem;

      .swiper {
        overflow: visible;
      }

      .carousel__controls {
        top: 110%;
      }
    }
  }
}
